@if (isLoggedIn) {
  <nav class="navbar">

    <!-- Left -->
    <div class="navbar-left">
      <a class="navbar-link"
         routerLink="/status-overview"
         routerLinkActive="active">
        Status overview
      </a>
      
      <a
    routerLink="/projects"
    class="navbar-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Projects
  </a>

      
    </div>

    <!-- Right -->
    <div class="navbar-actions">
      <div class="user-menu">
        <div class="user-avatar">
          {{ isOwner ? 'O' : 'M' }}
        </div>

        <span class="user-role">
          {{ isOwner ? 'Owner' : 'Member' }}
        </span>

        <span class="user-chevron">▾</span>
      </div>
    </div>

  </nav>
}
