.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.badge-status{
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  background: #E9F2FF;
  color: #0052CC;
  width: fit-content;
}
.badge-status.done{
  background: #7aec09a3;
  color: rgb(47, 77, 2);
}
.badge-status.inprogress{
  background: rgba(242, 203, 131, 0.464);
  color: rgb(243, 158, 0);
}