<div class="members-page">

  <h2>Company Members</h2>
  <p class="subtitle">
    People working under your company workspace.
  </p>

  @if (members$ | async; as members) {

    @if (members.length === 0) {
      <div class="empty-state">No members found.</div>
    }

    @if (members.length > 0) {
      <div class="members-table">

        <!-- Header -->
        <div class="members-header">
          <span>Member</span>
          <span>Email</span>
          <span>Role</span>
          @if (isOwner) {
            <span class="actions-col">Action</span>
          }
        </div>

        <!-- Rows -->
        @for (member of members; track member.id) {
          <div class="member-row">

            <!-- Member -->
            <div class="member-info">
              <div class="avatar">
                {{ member.fullName.charAt(0) }}
              </div>
              <span class="name">{{ member.fullName }}</span>
            </div>

            <!-- Email -->
            <span class="email">{{ member.email }}</span>

            <!-- Role -->
            <span
              class="role-badge"
              [ngClass]="member.role.toLowerCase()">
              {{ member.role }}
            </span>

            <!-- Actions (Owner only, not self) -->
            @if (isOwner && !isSelf(member)) {
              <div
                class="actions-wrapper"
                (click)="$event.stopPropagation()">

                <button
                  class="action-btn"
                  (click)="toggleMenu(member.id, $event)">
                  ⋮
                </button>

                @if (openMenuFor === member.id) {
                  <div class="action-menu">

                    <!-- Make Owner -->
                    <button
                     class="role-option"
                     (click)="changeRole(member, 'Owner')"
                     [disabled]="member.role === 'Owner'">
                      Owner
                   </button>
                  
                   <!-- Make Member -->
                   <button
                     class="role-option"
                     (click)="changeRole(member, 'Member')"
                     [disabled]="member.role === 'Member'">
                     Member
                   </button>                     


                  </div>
                }
              </div>
            }

          </div>
        }

      </div>
    }

  } @else {
    <div class="loading">Loading members…</div>
  }

</div>
